p {
    color: red;
    text-align: center;
    line-height: 30px;
}
a {
    text-decoration: none;
    color: green;
}

button {
    background-color: white;
    color: blueviolet;
}

h3 {
    text-align: center;
    color: black;
}
h1{
    text-align: center;
    color: red;
    font-family: Georgia;
}
textarea {
    color: black;
}

span {
    text-decoration: underline;
}